TG_TOKEN=Telegram bot TOKEN

GOOGLE_SHEET = GOOGLE SHEET URL

CELERY_BROKER_URL=redis://localhost:6379/0
СELERY_RESULT_BACKEND=redis://localhost:6379/0

OIL_INTERVAL=50

CONTACTS_JSON=[{"name":"Max","phone":"000000000","description":"main engineer"},{"name":"Alex","phone":"444444444444","description":"operator"}]